* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}
